$font-family_1: 'Monda', sans-serif;
$background-color_1: #3caeff;

@import "https://fonts.googleapis.com/css2?family=Monda&display=swap";
html {
	font-family: $font-family_1;
	padding-top: 50px;
}
body {
	font-family: $font-family_1;
	padding-top: 50px;
}
nav.navbar {
	background-color: $background-color_1 !important;
}
.navbar-nav {
	>li {
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: large;
	}
}
.dropdown-item.active {
	background-color: $background-color_1 !important;
}
.dropdown-item {
	&:active {
		background-color: $background-color_1 !important;
	}
}
.alldata {
	font-family: $font-family_1;
	text-align: center;
}
