@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

html,
body {
	font-family: 'Monda', sans-serif;

	scroll-behavior: auto;
	margin: 0 0 0 0;
	min-width: 0;
}

#marginFromNav {
	padding-top: 50px;
}

nav.navbar {
	background-color: #3caeff !important;
}

.navbar-nav>li {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: large;
}

.dropdown-item.active {
	background-color: #3caeff !important;
}

.alldata {
	font-family: 'Monda', sans-serif;
	text-align: center;
}

.main_background_photo {
	height: 100vh;
	background-color:
		linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.85));
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

/*
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fff;
}

.side-navbar {
	width: 180px;
	height: 100%;
	position: fixed;
	margin-left: -300px;
	background-color: whitesmoke;
	transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
	background-color: #ffffff26;
}

.my-container {
	transition: 0.4s;
}

.active-nav {
	margin-left: 0;
}


.active-cont {
	margin-left: 180px;
}

#menu-btn {
	background-color: #100901;
	color: #fff;
	margin-left: -62px;
}

.my-container input {
	border-radius: 2rem;
	padding: 2px 20px;
}

.title_nav {
	color: cornflowerblue !important;
	padding-bottom: 4vh;
	padding-top: 3vh;
}

*/