<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <nav class="navbar navbar-expand-xl fixed-top navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active">Úvodní strana</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Všechny funkce
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/nejnovejsi-data" routerLinkActive="active">Nejnovější</a></li>
              <li><a class="dropdown-item" routerLink="/nekdejsi-data" routerLinkActive="active">Historie</a></li>
              <li><a class="dropdown-item" routerLink="/grafy" routerLinkActive="active">Grafy</a></li>
              <li><a class="dropdown-item" routerLink="/zebricky" routerLinkActive="active">Žebříčky</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/jaktofunguje" routerLinkActive="active">Jak to funguje?</a>
          </li>
          <li class="nav-item">
            <a routerLink="/projekt" routerLinkActive="active" class="nav-link">O projektu</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>


</html>