<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-xl fixed-top navbar-light">
  <div class="container-fluid">
    <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a aria-current="page" class="nav-link active" routerLink="" routerLinkActive="active">Úvodní strana</a>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
            Všechny funkce
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/nejnovejsi-data" routerLinkActive="active">Nejnovější</a></li>
            <li><a class="dropdown-item" routerLink="/nekdejsi-data" routerLinkActive="active">Historie</a></li>
            <li><a class="dropdown-item" routerLink="/grafy" routerLinkActive="active">Grafy</a></li>
            <li><a class="dropdown-item" routerLink="/zebricky" routerLinkActive="active">Žebříčky</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jaktofunguje" routerLinkActive="active">Jak to funguje?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projekt" routerLinkActive="active">O projektu</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
</body>


</html>
