<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historie</title>
</head>

<body>
    <div class="col-lg-6 mx-auto">
        <mat-form-field id="datepicker" appearance="fill">
            <mat-label>Vyberte den</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (dateChange)="updateDOB($event)"
                disabled>
            <mat-hint>DD / MM / YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false" [touchUi]="true"></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-lg-6 mx-auto">
        <button class="btn btn-outline-primary btn-lg" (click)="showData()">Potvrdit</button>
    </div>
    <div class="col-lg-6 mx-auto">
        <div class="one" [innerHtml]="choosenDate"></div>
    </div>
    <div class="col-lg-6 mx-auto">
        <div class="err" [innerHtml]="htmlToAdd"></div>
    </div>
    
</body>

</html>