<!doctype html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="http://kys.hys.cz/uloziste/krystofcejchan.cz/style.css">
    -->

</head>

<body>
    <div class="main_background_photo">
        <div id="overlay">
            <video loop="loop" [muted]="'muted'" autoplay="autoplay" *ngIf="!isMobile()" poster="
                ./assets/imgs/thumbnail_for_bcgvideo.png" class="fullscreen-bg__video">
                <source src="./assets/videos/olomouc bcg s rr.webm" type="video/webm">
            </video>
            <video loop="loop" [muted]="'muted'" autoplay="autoplay" *ngIf="isMobile()" poster="
                ./assets/imgs/thumbnail_for_bcgvideo.png" class="fullscreen-bg__video">
                <source src="./assets/videos/olomouc-drone-bcg-r-cropped-to-mobile-apect_ratio.webm" type="video/webm">
            </video>
        </div>
        <div class="px-4 py-5 my-5 text-center">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="content">
                        <div class="logo_div col align-self-center">
                            <img src="./assets/imgs/logos/UP_logo_horizont_bila_cz.webp" alt="Univerzita Palackého logo"
                                id="logo">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col align-self-center" id="upocasi_text">
                        <b>UP</b>očasí
                        <div id="beta">Beta verze</div>
                    </div>
                </div>
                <div class="row justify-content-md-center open_animation {{temp_sentence_show}}">
                    <div class="col align-self-center" id="teplota_text">
                        <span *ngIf="!temp_sentence_show"> </span>
                        <span *ngIf="temp_sentence_show">
                            <span>Právě je </span>
                            <b id="curr_temp" [ngStyle]="{'color':getColourBasedOnTemp()}">{{current_temperature}}°C</b>
                            <span> v Olomouci</span></span>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8 col-md-5 btn" routerLink="/nejnovejsi-data" routerLinkActive="active">
                        <span>NEJNOVĚJŠÍ</span>
                    </div>
                    <div class="col-8 col-md-5 btn" routerLink="/nekdejsi-data" routerLinkActive="active">
                        <span>HISTORIE</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 col-md-5 btn" routerLink="/grafy" routerLinkActive="active"><span>GRAFY</span>
                    </div>
                    <div class="col-8 col-md-5 btn" routerLink="/zebricky" routerLinkActive="active">
                        <span>ŽEBŘÍČKY</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer><small><span id="Copyright" (click)="openLink('https://krystofcejchan.cz')">&copy; Copyright
                2022-{{getCurrYear()}}, Kryštof
                Čejchan</span></small></footer>
</body>

</html>