<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <div class="pic" onclick="location.href='https://krystofcejchan.cz/'" style="cursor:pointer">
        <img src="http://kys.hys.cz/uloziste/krystofcejchan.cz/404.gif" alt="?" style="width:auto;">
        <div class="text">
            <b>404 : Tož kte sú?</b>
        </div>
    </div>
</body>

</html>