<html>

<head>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
</head>

<body>
<div class="pic" routerLink="/" routerLinkActive="active" style="cursor:pointer">
  <img alt="?" src="http://kys.hys.cz/uloziste/krystofcejchan.cz/404.gif" style="width:auto;">
  <div class="text">
    <b>404 : Tož kte sú?</b>
  </div>
</div>
</body>

</html>
