html,
body {
    height: 100vh;
    margin: 0;
    min-width: 500px;

    background-position: center center;
    text-align: center;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(20, 20, 20));

    font-family: 'Raleway', sans-serif;
}


.text {
    font-size: 11vh;
    color: aliceblue;
}