<!doctype html>
<html lang="cs">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="" name="description">

  <title>{{getTitle()}}</title>

  <!--<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" rel="stylesheet">-->
</head>

<body>
  <div class="container px-0 py-5">
    <svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
      <symbol id="calendar3" viewBox="0 0 16 16">
        <path
          d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z">
        </path>
        <path
          d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z">
        </path>
      </symbol>
      <symbol id="geo-fill" viewBox="0 0 16 16">
        <path
          d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"
          fill-rule="evenodd">
        </path>
      </symbol>
    </svg>
    <div class="container px-2 px-md-0 py-5" id="custom-cards">
      <h2 class="pb-2 border-bottom">{{getTitle()}}</h2>
      <span *ngFor="let airdata of airdatas; let i = index;" (click)="setSelectedIndex(i)" class="col">
        <button type="button" class="btn btn-light btn-sm"
          (click)="scrollToElement(airdata.locationId.name)">{{airdata.locationId.name_short}}</button>
      </span>
      <!--     <div class="row row-cols-3 row-cols-md-2 align-items-stretch g-2 py-5">
        <div *ngFor="let airdata of airdatas;let j = index;" class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            [ngClass]="{'highlight': selectedIndex==j}" id="{{airdata.locationId.name}}" style="background:
                        linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.61)), url({{airdata.locationId.imgUrl}});
                        background-size:cover; background-position: center;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1" id={{airdata.locationId}}>
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                <span id="airQualityT" mat-raised-button matTooltip="Kvalita vzduchu" matTooltipPosition="after">
                  {{airdata.airQuality}}ppm</span>
                <br>
                <span id="temperatureT" mat-raised-button matTooltip="Teplota" matTooltipPosition="after">
                  {{airdata.temperature}}°C</span>
                <br>
                <span id="humidityT" mat-raised-button matTooltip="Vlhkost"
                  matTooltipPosition="after">{{airdata.humidity}}% </span>
              </h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img (click)="showDetails({id:airdata.id,hash:airdata.rndHash})" alt=""
                    class="rounded-circle border border-white" height="32"
                    src="assets/imgs/question_mark_help_for_latest_data.png" width="32">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" height="1em" width="1em">
                    <use xlink:href="#geo-fill" />
                  </svg>
                  <small>{{airdata.locationId.name_short}}</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" height="1em" width="1em">
                    <use xlink:href="#calendar3" />
                  </svg>
                  <small class="airdata_receivedDataDateTime">{{airdata.receivedDataDateTime}}</small>
                </li>
              </ul>
            </div>      </div>
-->
      <div class="row row-cols-3 row-cols-md-2 align-items-stretch g-2 py-5">
        <div *ngFor="let airdata of airdatas;let j = index;" class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            [ngClass]="{'highlight': selectedIndex==j}" id="{{airdata.locationId.name}}" style="background:
                              linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.61)), url({{airdata.locationId.imgUrl}});
                              background-size:cover; background-position: center;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1" id={{airdata.locationId}}>
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold d-flex flex-column">
                <span id="airQualityT" mat-raised-button matTooltip="Kvalita vzduchu" matTooltipPosition="after">
                  {{airdata.airQuality}}ppm</span>
                <span id="temperatureT" mat-raised-button matTooltip="Teplota" matTooltipPosition="after">
                  {{airdata.temperature}}°C</span>
                <span id="humidityT" mat-raised-button matTooltip="Vlhkost"
                  matTooltipPosition="after">{{airdata.humidity}}% </span>
              </h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img (click)="showDetails({id:airdata.id,hash:airdata.rndHash})" alt=""
                    class="rounded-circle border border-white" height="32"
                    src="assets/imgs/question_mark_help_for_latest_data.png" width="32">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" height="1em" width="1em">
                    <use xlink:href="#geo-fill" />
                  </svg>
                  <small>{{airdata.locationId.name_short}}</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" height="1em" width="1em">
                    <use xlink:href="#calendar3" />
                  </svg>
                  <small class="airdata_receivedDataDateTime">{{airdata.receivedDataDateTime}}</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="showLoading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div [innerHtml]="htmlToAdd" class="err"></div>

</body>

</html>