<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Žebříčky</title>
</head>

<body>

    <div *ngIf="showLoading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom"><span id="bordertext">Žebříčky</span></h2>
        <div class="container px-4 py-5" id="custom-cards">
            <div *ngFor="let leaderboard_data of leaderboard_data_prepared">
                <div style="font-size: large;" [ngSwitch]=leaderboard_data.type>
                    <span *ngSwitchCase="'LOWEST_AIRQ'">Nejnižší kvalita vzduchu</span>
                    <span *ngSwitchCase="'LOWEST_HUM'">Nejnižší vlhkost</span>
                    <span *ngSwitchCase="'LOWEST_TEMP'">Nejnižší teplota</span>
                    <span *ngSwitchCase="'HIGHEST_AIRQ'">Nejvyšší kvalita vzduchu</span>
                    <span *ngSwitchCase="'HIGHEST_HUM'">Nejvyšší vlhkost</span>
                    <span *ngSwitchCase="'HIGHEST_TEMP'">Nejvyšší teplota</span>
                    <span *ngSwitchDefault><i>n / a</i></span>
                </div>
                <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                    <div class="table-responsive">
                        <div class="mt-3 d-flex align-items-center flex-column">
                            <table class="table table-striped w-auto text-center m-2">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Lokace</th>
                                        <th scope="col">Naměřená hodnota</th>
                                        <th scope="col">Datum naměření</th>
                                    </tr>
                                </thead>

                                <!-- <div [ngSwitch]="selectedValue3">
        <div *ngSwitchCase="'One'">One is Selected</div>
        <div *ngSwitchDefault>This is Default 1</div>
        <div *ngSwitchCase="'Two'">Two is Selected</div>
        <div *ngSwitchDefault>This is Default 2</div>
      </div> -->


                                <tbody>
                                    <tr *ngFor="let data of leaderboard_data.leaderboardData">
                                        <th scope="row">{{data.position}}</th>
                                        <td>{{data.location}}</td>
                                        <td [ngSwitch]=leaderboard_data.type>
                                            <span *ngSwitchCase="'LOWEST_AIRQ'">{{data.airDataId.airQuality}}</span>
                                            <span *ngSwitchCase="'LOWEST_HUM'">{{data.airDataId.humidity}}</span>
                                            <span *ngSwitchCase="'LOWEST_TEMP'">{{data.airDataId.temperature}}</span>
                                            <span *ngSwitchCase="'HIGHEST_AIRQ'">{{data.airDataId.airQuality}}</span>
                                            <span *ngSwitchCase="'HIGHEST_HUM'">{{data.airDataId.humidity}}</span>
                                            <span *ngSwitchCase="'HIGHEST_TEMP'">{{data.airDataId.temperature}}</span>
                                            <span *ngSwitchDefault><i>n / a</i></span>
                                        </td>
                                        <td>{{shortenDate(data.airDataId.receivedDataDateTime)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>