html {
    font: inherit;
    margin-top: 20px;
}


.spinner-border {
    width: 4rem;
    height: 4rem;
    color: #3caeff !important;
    //margin-top: calc(30vw / 2);
    position: relative;
    margin-left: 50%;
}

.pb-2 {
    width: 100% !important;

    #bordertext {
        margin-left: 10px;
    }
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}