.howDoesItWork,
.api {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

a{
    color: blue;
    text-decoration: underline;
}