<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{getTitle()}}</title>
</head>

<body>
    <div class="container px-0 py-5">
        <div class="container px-0 py-5">
        <h2 class="pb-2 border-bottom">{{getTitle()}}</h2>
        <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center" animationDuration="1000ms">
            <mat-tab label="API">API</mat-tab>
            <mat-tab label="Dokumentace">

                <mat-list>
                    <mat-list-item><a href="https://github.com/krystof-cejchan/air_quality_measurement"
                            target="_blank">Zdrojový kód</a><small>[GitHub]</small></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item><s><a href="https://google.cz"
                                target="_blank">Dokumentace</a><small>[PDF]</small></s></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 3</mat-list-item>
                </mat-list>



            </mat-tab>
        </mat-tab-group>
    </div></div>
</body>

</html>