body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
}

.fullscreen-bg__video {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
}



#overlay {
	position: relative;
	width: 100%;

	&::after {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		content: '';
		background: rgb(0, 0, 0);
		background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0.4374124649859944) 0%, rgba(0, 0, 0, 0.6082808123249299) 100%);
		background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.4374124649859944) 0%, rgba(0, 0, 0, 0.6082808123249299) 100%);
		background: radial-gradient(circle, rgba(0, 0, 0, 0.4374124649859944) 0%, rgba(0, 0, 0, 0.6082808123249299) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

	}
}

#logo {
	position: relative;
	image-resolution: 916 / 390;
	width: 20vw;
	z-index: 2;

}

#upocasi_text {
	font-size: 5vw;
	color: white;
	z-index: 2;
}

.nabidka {
	font-size: 40px;
	color: white;
	z-index: 2;
}
#teplota_text{
	font-size: 4vw;
	color: white;
	z-index: 2;
}

#curr_temp{
	color: aqua;
}

nav {
	background-color: rgba(0, 0, 0, 0) !important;
}