<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>

  <!--  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" rel="stylesheet">-->

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://krystofcejchan.cz/files&documents/bootstrap4.3.css">
</head>

<body id="overlay">

  <main>
    <nav class="navbar navbar-expand-xl fixed-top navbar-light">
      <div class="container-fluid">
        <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler" data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
          <span class="navbar-toggler-icon {{getHamburger()}}"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item flex-grow-1" routerLink="" routerLinkActive="active">
              <a aria-current="page" class="nav-link active">Úvodní strana</a>
            </li>
            <li class="nav-item dropdown flex-grow-1">
              <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
                Všechny funkce
              </a>
              <ul class="dropdown-menu">
                <li routerLink="/nejnovejsi-data" routerLinkActive="active"><a class="dropdown-item">Nejnovější</a>
                </li>
                <li routerLink="/nekdejsi-data" routerLinkActive="active"><a class="dropdown-item">Historie</a></li>
                <li routerLink="/grafy" routerLinkActive="active"><a class="dropdown-item">Grafy</a></li>
                <li routerLink="/zebricky" routerLinkActive="active"><a class="dropdown-item">Žebříčky</a></li>
              </ul>
            </li>
            <li class="nav-item flex-grow-1" routerLink="/predpoved" routerLinkActive="active">
              <a class="nav-link">Předpověď počasí</a>
            </li>
            <li class="nav-item dropdown flex-grow-1">
              <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
                Uživatelské preference
              </a>
              <ul class="dropdown-menu">
                <li routerLink="/predplatne/spravce" routerLinkActive="active"><a class="dropdown-item">Odběr
                    novinek</a>
                </li>
                <!--<li routerLink="/nekdejsi-data" routerLinkActive="active"><a class="dropdown-item">Historie</a></li>
                <li routerLink="/grafy" routerLinkActive="active"><a class="dropdown-item">Grafy</a></li>
                <li routerLink="/zebricky" routerLinkActive="active"><a class="dropdown-item">Žebříčky</a></li>-->
              </ul>
            </li>
            <li class="nav-item flex-grow-1" routerLink="/projekt" routerLinkActive="active">
              <a class="nav-link">O projektu</a>
            </li>
            <!--
            <li class="nav-item flex-grow-1" routerLink="/dev" routerLinkActive="active">
              <a class="nav-link">API</a>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>


    <!-- 
  <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">
      <a href="#" id="title_nav" class="nav-link h3 my-2">
        UPočasí
      </a>
      <li href="#" class="nav-link">
        <i class="bx bxs-dashboard"></i>
        <span class="mx-2">Home</span>
      </li>
      <li href="#" class="nav-link">
        <i class="bx bx-user-check"></i>
        <span class="mx-2">Profile</span>
      </li>
      <li href="#" class="nav-link">
        <i class="bx bx-conversation"></i>
        <span class="mx-2">Contact</span>
      </li>
    </ul>

    <span href="#" class="nav-link h4 w-100 mb-5">
      <a href=""><i class="bx bxl-instagram-alt text-white"></i></a>
      <a href=""><i class="bx bxl-twitter px-2 text-white"></i></a>
      <a href=""><i class="bx bxl-facebook text-white"></i></a>
    </span>
  </div>

  <div class="p-1 my-container active-cont">

    <nav class="navbar top-navbar navbar-light bg-light px-5">
      <a class="btn border-0" id="menu-btn"><i class="bx bx-menu"></i></a>
    </nav>
    <router-outlet></router-outlet>
  </div>

  <script>
    /* var menu_btn = document.querySelector("#menu-btn");
     var sidebar = document.querySelector("#sidebar");
     var container = document.querySelector(".my-container");
     menu_btn.addEventListener("click", () => {
       sidebar.classList.toggle("active-nav");
       container.classList.toggle("active-cont");
     });*/
  </script> -->
    <router-outlet></router-outlet>
  </main>
</body>


</html>