<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Grafy</title>
</head>

<body>

<div id="chart_airQ">
  <apx-chart [annotations]="chartOptions.annotations" [chart]="chartOptions.chart_airQ" [dataLabels]="chartOptions.dataLabels"
             [series]="chartOptions.series" [stroke]="chartOptions.stroke" [title]="chartOptions.title"
             [tooltip]="chartOptions.tooltip" [xaxis]="chartOptions.xaxis">
  </apx-chart>
</div>
<!--<div id="chart_temp">
<apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"
    [title]="chartOptions.title"></apx-chart>
</div>
<div id="chart_hum">
<apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"
    [title]="chartOptions.title"></apx-chart>
</div>-->
</body>

</html>
